

/*Stile per gestire la barra di ricerca*/
.search-box {
    font-family: 'Lucida Sans';
    font-size: 30px;
    border-radius: 4px;
    box-shadow: none;
    width:calc(100% - 20px);
    margin: 0px 10px;
}

.back-box {
    background-color:greenyellow;
    color: grey;
}

.front-box {
    background: transparent;
    width:calc(100% - 20px);
    margin: 0px 10px;
}

.overlay {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
}

.front-div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    top: 25px
}

.back-div {
    text-align: center;
    position: relative;
    width: 100%;
}

/*Stile elementi sotto la barra di navigazione*/
.elements{
    text-align: center;
    padding-top: 5px
}


