 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid white;
    background-color: rgb(170, 158, 158, 0.8);
}
 
.info{
    color:black;
}
 
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: rgb(170, 158, 158, 0.8);
}

.box-rec{
    border-bottom-style: solid;
    border-color: black;
    color: black;
    font-size: 40px;
}
 
.titoloRec{ 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}
 
.valore{
    color: darkblue;
}

.utente-info.utente-rec {
    font-size: 40px;
}
 
 
.buttonImg {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    background-color: white;
}