 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid white;
    background-color: #cccccc5d;
}
 
.info{
    color:black;
}
 
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #cccccc5d;
}

 
.titoloRec{
    color: black;
}
 
.valore{
    color: darkblue;
}
 
 
.buttonImg {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    background-color: white;
}